<!DOCTYPE html>
<html ng-app="phoneBook">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lista Telefonica</title>
  <!-- CSS only -->
  <link href="node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet" type="text/css">
  <style>
    .jumbotron {
      display: flex;
      width: 450px;

      align-items: center;
      justify-content: center;
      margin-left: auto;
      margin-right: auto;
      background-color: #d3d3d3;
      margin-top: 4%;
      flex-direction: column;
      padding: 50px;
    }
    .table {
      margin-top: 20px;
    }

    .form-control {
      margin-bottom: 5px;
      width: 350px;
      margin-bottom: 10px;
    }
    .btn {
      width: 100%;
      margin-bottom: 5px;
    }

    .selecionado {
      background-color: rgb(233, 231, 133);
    }
    .alert {
      width: 300px;
    }

  </style>
  <script src="lib/angular/angular.js"></script>
  <script src="lib/angular/angular-messages.js"></script>

  <script>
    angular.module("phoneBook", ["ngMessages"]);
    angular.module("phoneBook").controller("phoneBookCtrl", ($scope, $http) => {
      $scope.app = "Lista Telefônica";
      $scope.contatos = [];
      $scope.operadoras = [];
      const carregarContatos = async () => {
        try {
          const response = await $http.get('http://localhost:3050/contatos');
          $scope.contatos = response.data;
          console.log(response.data);
        } catch (error) {
          console.log(error);
        }
      }

      const carregarOperadoras = async () => {
        try {
          const response = await $http.get('http://localhost:3050/operadoras');
          $scope.operadoras = response.data;
        } catch (error) {
          console.log(error);
        }
      }

      $scope.addContato = async (contato) => {
        contato.data = new Date();
        const response = await $http.post('http://localhost:3050/contatos', contato);
        delete $scope.contato;
        $scope.contatoForm.$setPristine();
        carregarContatos();
      };
      $scope.removeContatos = (contatos) => {
        $scope.contatos = contatos.filter(contato => !contato.selecionado);
      };
      $scope.isContatoSelecionado = contatos => {
        return contatos.some(contato => contato.selecionado)
      };
      $scope.ordernarPor = campo => {
        $scope.ordenacao = campo;
        $scope.direcao = !$scope.direcao;
      };

      carregarContatos();
      carregarOperadoras();
    });
  </script>
</head>
<body ng-controller="phoneBookCtrl">
  <div class="jumbotron">
    <h4>{{app}}</h4>
    <input class="form-control" type="text" ng-model="filtroBusca" placeholder="Buscar contato..."/>
    <table ng-show="contatos.length > 0" class="table table-striped">
      <tr>
        <th></th>
        <th><a href="" ng-click="ordernarPor('nome')">Nome</a></th>
        <th><a href="" ng-click="ordernarPor('telefone')">Telefone</a></th>
        <th>Operadora</th>
        <th>Data</th>
      </tr>
      <tr ng-class="{selecionado: contato.selecionado}" ng-repeat="contato in contatos | filter:filtroBusca | orderBy:ordenacao:direcao">
        <td><input type="checkbox" ng-model="contato.selecionado"/></td>
        <td>{{contato.nome}}</td>
        <td>{{contato.telefone}}</td>
        <td>{{contato.operadora.nome | uppercase}}</td>
        <td>{{contato.data | date: 'dd/MM/yyyy'}}</td>
      </tr>
    </table>
    <br/>
    <form name="contatoForm">
      <input class="form-control" type="text" ng-model="contato.nome" placeholder="Nome" name="nome" ng-required="true" ng-minlength="3" ng-maxlength="15"/>
      <input class="form-control" type="text" ng-model="contato.telefone" placeholder="Telefone" name="telefone" ng-required="true" ng-pattern="/^\d{4,5}-\d{4}$/"/>
      <select class="form-control" ng-model="contato.operadora" ng-options="operadora.nome group by operadora.categoria for operadora in operadoras | orderBy:'nome'">
        <option value="">Selecione uma operadora</option>
      </select>
    </form>

    <div class="alert alert-danger" ng-show="contatoForm.nome.$error.required && contatoForm.nome.$dirty">Preencha o campo nome!</div>
    <div class="alert alert-danger" ng-show="contatoForm.nome.$error.minlength">Campo nome deve ter no mínimo 3 caracteres!</div>
    <div class="alert alert-danger" ng-show="contatoForm.nome.$error.maxlength">Campo nome deve ter no máximo 15 caracteres!</div>

    <div class="alert alert-danger" ng-show="contatoForm.telefone.$error.required && contatoForm.telefone.$dirty">Preencha o campo telefone!</div>
    <div class="alert alert-danger" ng-show="contatoForm.telefone.$error.pattern">Telefone deve estar no formato xxxxx-xxxx!</div>

    <button class="btn btn-primary" ng-click="addContato(contato)" ng-disabled="contatoForm.$invalid">Adicionar Contato</button>
    <button class="btn btn-danger" ng-click="removeContatos(contatos)" ng-if="isContatoSelecionado(contatos)">Apagar contatos</button>
  </div>
</body>
</html>